# skicit으로 수행하는 생존자 예측

In [24]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler,MinMaxScaler,RobustScaler

In [25]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [26]:
#titanic파일 불러오기

import pandas as pd
titanic_df = pd.read_csv('C:/apps/ml/titanic_train.csv')
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# Passemgerid:탑승자 데이터 일련번호 
  Survive:생존 여부  
  pclass: 티켓의 선실 등급
  sex:탑승자의 성별
  name:탑승자의 이름
  Age:탑승자의 나이
  sibsp:같이 탑승한 형제자매 또는 배우자 인원수
  parch:같이 탑승한 부모님 또는 어린이 인원수
  ticket:티켓 번호
  fare:요금
  cabin:선실번호
  embarked:중간 정착 항구 C=Cherboug Q=Queenstown S =Southampton

In [27]:
train=titanic_df

In [28]:
print('\n ###학습 데이터 정보### \n')
print(titanic_df.info())

 ###학습 데이터 정보###

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [29]:
#결측치(Null값) 확인
train.isnull()
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [23]:
#Null값을 평균 또는 고정 값으로 변경
titanic_df['Age'].fillna(titanic_df['Age'].mean( ),inplace=True)

In [31]:
titanic_df['Cabin'].fillna('N',inplace=True)

In [33]:
titanic_df['Embarked'].fillna('N',inplace=True)

In [34]:
print('데이터 세트 Null값 개수',titanic_df.isnull().sum())

데이터 세트 Null값 개수 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin            0
Embarked         0
dtype: int64

In [36]:
print('Sex값 분포:\n',titanic_df['Sex'].value_counts())

Sex값 분포:
 male      577
female    314
Name: Sex, dtype: int64

In [37]:
print('Cabin값 분포:\n',titanic_df['Cabin'].value_counts())

Cabin값 분포:
 N              687
C23 C25 C27      4
G6               4
B96 B98          4
C22 C26          3
              ...
E34              1
C7               1
C54              1
E36              1
C148             1
Name: Cabin, Length: 148, dtype: int64

In [38]:
print('Cabin값 분포:\n',titanic_df['Embarked'].value_counts())

Cabin값 분포:
 S    644
C    168
Q     77
N      2
Name: Embarked, dtype: int64

In [ ]:
ttitanic_df.groupby(['Sex',""])

### 데이터 스케일링

In [25]:
from sklearn import train

ImportError: cannot import name 'train' from 'sklearn' (C:\Users\user\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\__init__.py)

In [17]:
train = load_train()

NameError: name 'load_train' is not defined

In [23]:
from sklearn.preprocessing import StandardScaler

#standardScalar객체 생성
scaler = StandardScaler()
scaler.fit